.content-container{
	margin:0 auto;
	padding-top:49px;
	width:1165px;
	background: url(../img/bg-content-bottom.png) left bottom no-repeat, url(../img/bg-content-top.png) left 55px no-repeat;
	
	min-height:500px;
	overflow:hidden;
	padding-bottom:16px;
}
	.content-col{
		
	}
	.content-primary{
		float:left;
		width:220px;
		min-height:300px;
		margin-left:87px;
		padding-bottom:124px;
	}
		.content-primary h1{
			text-indent:-9999px;
			overflow:hidden;
		}
			.content-primary h1 a.logo-main{
				display:block;
				background:transparent url(../img/logo-main.png) no-repeat 0 0;
				width:214px;
				height:65px;
			}
		.content-primary .text-tagline{
			font-family:"Unica One";
			font-size:20px;
			line-height:24px;
			color:#51433c;
			margin:10px 0 5px 15px;
			width:185px;
		}
		
		.content-primary #nav-primary{
			height:245px;
			overflow:hidden;
		}
			.content-primary #nav-primary li{
				float:left;
				margin-left:4px;
				height:245px;
				position:relative;
				width:26px;
			}
			.content-primary #nav-primary li.first{
				margin-left:0px;
			}
				.content-primary #nav-primary li a{
					display:block;
					width:26px;
					height:200px;
					background:#fff url(../img/nav-main.png) no-repeat 0 0;
					text-indent:-9999px;
					position:absolute;
					bottom:0;
					left:0;
				}
				.content-primary #nav-primary li#nav-home a{
					height:60px;
					background-position:0 -185px;
				}
				.content-primary #nav-primary li#nav-home a:hover,
				.content-primary #nav-primary li#nav-home.selected a{
					height:127px;
					background-position:0 -373px;
				}
				.content-primary #nav-primary li#nav-about a{
					height:90px;
					background-position:-30px -155px;
				}
				.content-primary #nav-primary li#nav-about a:hover,
				.content-primary #nav-primary li#nav-about.selected a{
					height:166px;
					background-position:-30px -334px;
				}
				.content-primary #nav-primary li#nav-listen a{
					height:145px;
					background-position:-60px -100px;
				}
				.content-primary #nav-primary li#nav-listen a:hover,
				.content-primary #nav-primary li#nav-listen.selected a{
					height:217px;
					background-position:-60px -283px;
				}
				.content-primary #nav-primary li#nav-license a{
					height:145px;
					background-position:-90px -100px;
				}
				.content-primary #nav-primary li#nav-license a:hover,
				.content-primary #nav-primary li#nav-license.selected a{
					height:214px;
					background-position:-90px -286px;
				}
				.content-primary #nav-primary li#nav-contact a{
					height:110px;
					background-position:-120px -135px;
				}
				.content-primary #nav-primary li#nav-contact a:hover,
				.content-primary #nav-primary li#nav-contact.selected a{
					height:184px;
					background-position:-120px -316px;
				}
				.content-primary #nav-primary li#nav-placements a{
					height:185px;
					background-position:-150px -60px;
				}
				.content-primary #nav-primary li#nav-placements a:hover,
				.content-primary #nav-primary li#nav-placements.selected a{
					height:245px;
					background-position:-150px -255px;
				}
				.content-primary #nav-primary li#nav-blog a{
					height:55px;
					background-position:-180px -190px;
				}
				.content-primary #nav-primary li#nav-blog a:hover,
				.content-primary #nav-primary li#nav-blog.selected a{
					height:122px;
					background-position:-180px -378px;
				}
		
		.content-primary em.divider-primary{
			display:block;
			background:transparent url(../img/bg-divider-main-nav.png) no-repeat 0 0;
			width:200px;
			height:28px;
			margin:16px 0 25px 3px;
		}
		#burst-trivia{
			border-radius:7px;
			background:#9d0c04;
			overflow:hidden;
			padding:11px 12px 13px;
			width:172px;
			font-family:"Quicksand";
			color:#fff;
			margin-left:3px;
			transition: height 2s;
			-webkit-transition: height 2s; /* Safari */
		}
			#burst-trivia h4{
				text-transform:uppercase;
				font-weight:bold;
				margin-bottom:7px;
			}
			#burst-trivia ul{
				display:none;
				position:relative;
				height:80px;
			}
			#burst-trivia p{
				
			}

